[build]
  publish = "dist"
  command = "npm run generate"
  functions = "functions"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[plugins]]
  package = "@netlify/plugin-local-install-core"

[[plugins]]
  package = "/netlify-plugins/algolia-export"
    [plugins.inputs]
      exclude = ['''^\/(?!blog\/[0-9]{4}\/[0-9]{2}\/[0-9]{2}\/(?!index.html)).*''']

[[redirects]]
  from = "/admin"
  to = "/admin/"
  status = 301
  force = true

[[redirects]]
  from = "/Vonage-footer-logo.svg"
  to = "/.netlify/functions/image-svg"
  status = 200
  force = true
