div.nuxt-progress {
  background: linear-gradient(to right, #7fc6f4, #d5279b);
}

.Blog__Full-width {
  width: 100%;
  max-width: 100%;
}

.Vlt-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.Vlt-container .Vlt-grid {
  margin-left: 0;
  margin-right: 0;
}